# Ignore arquivos de log do R
.Rhistory
.RData

# Ignore configurações do projeto RStudio
.Rproj.user

# Ignore arquivos de build temporários
*.o
*.so
*.dll

# Ignore arquivos de compilação e pacotes
*.tar.gz
*.zip

# Ignore arquivos relacionados ao build e testes temporários
*.Rbuildignore
*.Rproj.user

# Ignore pastas e arquivos de bibliotecas locais de testes
biblioteca-teste/

# Ignore arquivos temporários e de sistema
*.tmp
*.swp
.DS_Store
Thumbs.db

# Outros arquivos que podem não ser relevantes
to-test-functions.Rmd


